
.NoteListNav {
  position: relative;
}

.NoteListNav__list {
  list-style-type: none;
  margin: 130px 0 0;
  padding: 0;
}

.NoteListNav__button-wrapper {
  margin: 0 0 0 auto;
  max-width: 180px;
  padding-top: 50px;
}

.NoteListNav__add-folder-button {
  margin: auto;
}

.NoteListNav__add-folder-button:hover {
  background-color: #29862e;
  color: white;
}

.NoteListNav__folder-link {
  background-color: #030f1f;
  color: #b5b3b3;
  display: block;
  font-family: var(--custom-font);
  font-size: 20px;
  margin: 0 0 8px auto;
  max-width: 180px;
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.NoteListNav__folder-link button{
  float: left;
  margin-right: 15px;
}

.NoteListNav__list .spinner {
  color: #b5b3b3;
  display: block;
  font-family: var(--custom-font);
  font-size: 16px;
  margin: 0 0 8px auto;
  width: 100px;
  position: absolute;
  right: 0px;
  z-index: 1;
}

.NoteListNav__folder-link:hover {
  color: #FFB72F;
  cursor: pointer;
}
.NoteListNav__folder-link.active {
  background-color: #102541;
}

.NoteListNav__num-notes {
  color: #adadad;
  display: block;
  float: right;
  font-size: 10px;
}

@media only screen and (max-width: 600px){
  .NoteListNav__folder-link{
    font-size: 16px;
  }
}